#quote-box {
  border-radius: 3px;
  position: relative;
  width: 500px;
  height: auto;
  padding: 40px 50px;
  display: table;
  background-color: rgb(120, 208, 230);

  #text {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
  }

  #author {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    #new-quote {
      font-size: 35px;
    }
  }
}
